{% extends 'catalog/base.html' %}
{% block inc_title %}
{% include 'catalog/include/inc_title.html'%}
{% endblock %}

{% block container %}
    <div class="col-6">
      <div class="card" >
        <div class="card-header" >
          <h3 class="card-title" >
            Регистрация
          </h3>
          <div class="card-body" >
            <form method="post" enctype="multipart/form-data"   > <!-- enctype-добавить аватарку    enctype="multipart/form-data"-->
              {% csrf_token %}
              {{ form.as_p }}

              <button type="submit" class="btn btn-success" >Отправить</button>

            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}